h1{
    color: goldenrod;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, Helvetica, sans-serif;
    background-color: darkgreen;
    color: white;
    text-align: center;
    font-weight: bold;
}
#msg-El{
    font-style: italic;
}
#start-El{
    font-weight: bold;
    background-color: goldenrod;
    color: #016f32;
    width: 150px;
    border: none;
    padding: 5px;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 2px;
    margin-bottom: 2px;
}
#newcard-El{
    font-weight: bold;
    background-color: goldenrod;
    color: #016f32;
    width: 150px;
    border: none;
    padding: 5px;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 2px;
    margin-bottom: 2px;
}
